.checkbox {
  display: flex;
  align-items: center;
  gap: 1.375rem;
  cursor: pointer;
}
/* Hide native checkbox */
.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* The visual box */
.box {
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neon-green);

  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.checkIcon {
  display: block;
  stroke: var(--color-vdark-grey);
}
