.displayContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.19rem 2rem;
}

.placeholder {
  color: var(--color-grey);
}

.passwordOutput {
  color: var(--color-white);
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.copyIcon {
  fill: var(--color-neon-green);
  transition: fill 0.2s ease;
}

.copyLabel {
  color: var(--color-neon-green);
}

.copyButton:hover .copyIcon {
  fill: var(--color-white);
}
