/*********** Base styles ***********/

.displayContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.placeholder {
  color: var(--color-grey);
}

.passwordOutput {
  color: var(--color-white);
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.copyIcon {
  fill: var(--color-neon-green);
  transition: fill 0.2s ease;
  height: 24px;
  width: 21px;
}

.copyLabel {
  color: var(--color-neon-green);
}

.copyButton:hover .copyIcon {
  fill: var(--color-white);
}

/*********** Responsive styles ***********/

@media (max-width: 480px) {
  .copyIcon {
    height: 20px;
    width: 17.5px;
  }
}
