.strengthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: var(--color-vdark-grey);
}

.strengthLabel {
  color: var(--color-grey);
}

.outputContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.barContainer {
  display: flex;
  gap: 0.5rem;
}

.barContainer li {
  height: 1.75rem;
  width: 0.625rem;
  border: 2px solid var(--color-white);
}

.barContainer.red li.filled {
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.barContainer.orange li.filled {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}

.barContainer.yellow li.filled {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.barContainer.green li.filled {
  background-color: var(--color-neon-green);
  border-color: var(--color-neon-green);
}
