/*********** Base styles ***********/

.passwordGenPage {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.94rem;
}
.passwordGenPage h1 {
  color: var(--color-grey);
}

.appContainer {
  width: 100%;
  max-width: 33.75rem;
  padding-inline: 1rem;
}
.displayContainer {
  background-color: var(--color-dark-grey);
  margin-bottom: 1.5rem;
  padding: 1.19rem 2rem;
}
.controlsContainer {
  background-color: var(--color-dark-grey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/*********** Responsive styles ***********/

@media (max-width: 480px) {
  .passwordGenPage {
    gap: 1rem;
  }
  .appContainer {
    margin-bottom: 1rem;
  }

  .displayContainer {
    padding: 1rem;
  }
  .controlsContainer {
    gap: 1rem;
    padding: 1rem;
  }
  .checkboxContainer {
    gap: 1rem;
    margin: 1rem 0;
  }
}
