.passwordGenPage {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.94rem;
}
.passwordGenPage h1 {
  color: var(--color-grey);
}

.appContainer {
  /*   background-color: var(--color-dark-grey); */
  width: 100%;
  max-width: 33.75rem;
  padding-inline: 1rem;
}
.displayContainer {
  background-color: var(--color-dark-grey);
  margin-bottom: 1.5rem;
}
.controlsContainer {
  background-color: var(--color-dark-grey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
