.passwordGenPage {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.94rem;
}
.passwordGenPage h1 {
  color: var(--color-grey);
}

.appContainer {
  background-color: var(--color-dark-grey);
}
